.tabs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tabItems {
    display: flex;
    gap: 10px;
}
.tab {
    display: block;
    padding: 5px 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    font-weight: 500;
}
.tab:hover {
    background-color: var(--primary-hover-background-color);
}
.active {
    color: var(--primary-color-highlight);
    border-bottom-color: var(--primary-color-highlight);
}
.tabPanel {
    padding: 10px;
}
