:root {
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color-scheme: light dark;

	--primary-font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	--primary-color: #ffffff;
	--primary-color-highlight: #6495ed; 
	--primary-background-color: #242424; 
	--primary-border-color: #808080;
	--primary-hover-background-color: rgba(255, 255, 255, .1);

	font-family: var(--primary-font-family);
	color: var(--primary-color);
	background-color: var(--primary-background-color)
}
* {
	box-sizing: border-box;
}
body, html, #root {
  	height: 100%;
}
body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}
hr {
	border: none;
	width: 100%;
	height: 1px;
	background-color: var(--primary-border-color);
	-webkit-user-select: none;
    user-select: none;
}

/**
* Modal style
**/

.portal {
	position: relative;
	z-index: 200;
}
.modalContainer {
	position: fixed; 
	top: 0; 
	width: 100dvw; 
	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modalBackground {
	position: absolute;
	top: 0; 
	width: 100%; 
	height: 100%;
	background: var(--primary-hover-background-color);
	z-index: 0;
}
.modalMain {
	min-width: 300px;
	min-height: 300px;
	border-radius: 10px;
	padding: 20px;
	background: var(--primary-background-color);
	translate: transform(50%, 50%);
	z-index: 1;
}

/**
* Media queries
**/

@media (prefers-color-scheme: light) {
	:root {
		--primary-color: #242424;
		--primary-background-color: #ffffff;
		--primary-hover-background-color: rgba(0, 0, 0, .1);
		--primary-border-color: #d3d3d3;
	}
}